form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #FFA07A;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

.my_header {
    text-align: center
}
